<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard/common/sidebar.css') }}"
/>

<div class="sidebar-container">
  <div class="sidebar-wrapper">
    <div class="sidebar-content">
      <!-- プロフィール -->
      <div class="profile-info-area">
        <div class="flex-justify-center">
          <img src="/static/auth/image/profile.png" class="profile-image" />
          <div class="profile-info">
            <p class="profile-company">有限会社ビルド</p>
            <p class="profile-user">阿部 謙二</p>
          </div>
        </div>
      </div>

      <div class="sidebar-nav-area">
        <nav class="sidebar-nav-top">
          <ul>
            <li>
              <div class="flex-justify-center">
                <img src="/static/auth/image/scraping.png" />
                <a href="{{ url_for('scraping.index') }}">スクレイピング</a>
              </div>
            </li>

            <div class="white-border"></div>

            <li>
              <div class="flex-justify-center">
                <img src="/static/auth/image/company.png" />
                <a href="{{ url_for('companies.index') }}">企業情報一覧</a>
              </div>
            </li>

            <div class="white-border"></div>

            <li>
              <div class="flex-justify-center">
                <img src="/static/auth/image/graph.png" />
                <a href="{{ url_for('graphs.index') }}">グラフデータ</a>
              </div>

              <div class="white-border"></div>

              <ul class="graphs-sub">
                <li class="graphs-sub-extracted">
                  <div class="item-line"></div>
                  <a href="#">抽出件数</a>
                </li>
                <li class="graphs-sub-contact">
                  <div class="item-line"></div>
                  <a href="#">連絡件数</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <nav class="sidebar-nav-bottom">
          <ul>
            <div class="white-border"></div>

            <li>
              <div class="flex-justify-center">
                <img src="/static/auth/image/faq.png" />
                <a href="{{ url_for('faq.index') }}">FAQ（使い方）</a>
              </div>
            </li>

            <div class="white-border"></div>

            <li>
              <div class="flex-justify-center login-button-orange">
                <img src="/static/auth/image/logout_button.png" />
                <a href="{{ url_for('auth.logout') }}">ログアウト</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>

      <!--クローズボタン等は別途作成：ffkt-->
    </div>
  </div>
</div>
