.faq_head_container{
    margin-top: 65px;
}
.faq_container {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.faq_wrapper {
    width: 95%;
    max-width: 1200px;
}
.faq_card {
    border-radius: 18px;
    border: 1px solid #1E8697;
    overflow: hidden;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    background: #ffffff;
}
.faq_head_content{
    margin-bottom: 10px;
}
.faq_head_content h2{
    font-size: 32px;
    color: #1E8697;
}
.faq_question_box {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 20px 26px;
    background: linear-gradient(
        180deg,
        rgba(32, 193, 211, 0.5),
        rgba(77, 193, 225, 0.5)
    );
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    height: 60px;
    box-sizing: border-box;
}
.faq_icon_q {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: linear-gradient(180deg, #39bfe0, #4fb9c0);
    font-weight: 700;
    font-size: 20px;
}
.faq_question_text {
    margin: 0;
    font-size: 16px;
    color: #1d1d1d;
    letter-spacing: 0.2px;
}
.faq_answer_box {
    display: flex;
    gap: 18px;
    align-items: flex-start;
    padding: 10px 26px;
    background: #ffffff;
    min-height: 60px;
    box-sizing: border-box;
    align-items: center;
}
.faq_icon_a {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #D49218;
    font-weight: 700;
    font-size: 18px;
}
.faq_answer_text {
    margin: 0;
    line-height: 1.9;
    color: #1d1d1d;
    font-size: 16.5px;
}
.faq_list {
    display: flex;
    flex-direction: column;
    gap: 34.35px;
}
.fa-a:before,
.fa-q:before {
    font-family: 'Inter';
}