.search-wrapper {
  display: flex;
  justify-content: end;
  margin: calc(40 / 1366 * 100vw) 0 0 0;
}

.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(449 / 1366 * 100vw);
  padding: calc(5 / 1366 * 100vw) 0;
  border: 1px solid rgba(30, 134, 151, 0.8);
  border-radius: calc(50 / 1366 * 100vw);
  background: #f7f7f7;
}

.search-content p {
  margin: 0 calc(112 / 1366 * 100vw);
  font-size: calc(16 / 1366 * 100vw);
  font-weight: bold;
  color: #d49218;
}

.search-divider {
  width: calc(1 / 1366 * 100vw);
  height: calc(36 / 1366 * 100vw);
  margin: 0 calc(45 / 1366 * 100vw) 0 0;
  background: rgba(30, 134, 151, 0.8);
}

.search-content img {
  margin: 0 calc(50 / 1366 * 100vw) 0 0;
  width: calc(33 / 1366 * 100vw);
  height: calc(33 / 1366 * 100vw);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: calc(16 / 1366 * 100vw);
  color: #1d1d1d;
  text-align: center;
  padding-left: calc(5 / 1366 * 100vw);
  padding-right: calc(5 / 1366 * 100vw);
}

.search-input::placeholder {
  color: #d49218;
  opacity: 0.7;
}

.search-wrapper button {
  border: none;
  background: transparent;
  padding: 0;
}

.companies-page {
  max-width: calc(930 / 1366 * 100vw);
  box-sizing: border-box;
  margin-bottom: calc(137 / 1366 * 100vw);
}

.company-list-container {
  margin: calc(40 / 1366 * 100vw) 0 0;
}

.company-list-content {
  border-radius: calc(20 / 1366 * 100vw);
  border-spacing: 0;
  overflow: hidden;
}

.companies-table {
  border-spacing: 0;
  width: 100%;
}

.companies-table thead {
  background: linear-gradient(to right, #20c1d3, #4dc1e1);
  max-height: calc(65 / 1366 * 100vw);
  box-sizing: border-box;
}

.companies-table thead th {
  padding: calc(13 / 1366 * 100vw) 0;
  border: none;
  border-left: 1px solid rgba(30, 134, 151, 0.8);
  font-size: calc(16 / 1366 * 100vw);
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.companies-table thead th:first-child {
  padding: calc(13 / 1366 * 100vw) calc(18 / 1366 * 100vw);
  border-left: none;
  min-width: calc(100 / 1366 * 100vw);
}

.companies-table tbody tr:first-child td {
  border-top: 1px solid rgba(30, 134, 151, 0.8);
  line-height: 1.2;
}

.companies-table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 calc(20 / 1366 * 100vw);
}

.companies-table tbody tr:last-child td:last-child {
  border-radius: 0 0 calc(20 /1366 * 100vw) 0;
}

.companies-table tbody .companyName {
  text-align: left;
}

.companies-table thead .companyName,
.companies-table thead .companySite,
.companies-table thead .inquiryUrl,
.companies-table tbody .companyName,
.companies-table tbody .companySite,
.companies-table tbody .inquiryUrl {
  max-width: calc(200 / 1366 * 100vw);
  width: calc(200 / 1366 * 100vw);
  word-wrap: break-word;
  overflow-wrap: anywhere;
  line-height: 1.2;
}

.companies-table tbody td {
  padding: calc(13 / 1366 * 100vw) calc(22.5 / 1366 * 100vw);
  border-bottom: 1px solid rgba(30, 134, 151, 0.8);
  border-left: 1px solid rgba(30, 134, 151, 0.8);
  font-size: calc(14 / 1366 * 100vw);
  line-height: calc(34 / 1366 * 100vw);
  color: #1d1d1d;
  text-align: center;
}

.companies-table tbody td:last-child {
  border-right: 1px solid rgba(30, 134, 151, 0.8);
}

.pager {
  display: flex;
  gap: calc(36 / 1366 * 100vw);
  justify-content: center;
  align-items: center;
  margin: calc(40 / 1366 * 100vw) 0;
}

.pager .current {
  display: inline-grid;
  place-items: center;
  min-width: calc(35 / 1366 * 100vw);
  height: calc(35 / 1366 * 100vw);
  border-radius: calc(5 / 1366 * 100vw);
  background: #4ac1e0;
  color: #ffffff;
}

.pager .search-list-pagination,
.pager .pager-btn {
  padding: calc(8 / 1366 * 100vw) calc(16 / 1366 * 100vw);
  text-decoration: none;
  color: #1e8697;
}

.pager .search-list-pagination {
  color: #1d1d1e;
}

.pager .pager-btn {
  color: #1e8697;
}

.page-top-content {
  display: flex;
  justify-content: end;
}

.page-top-content img {
  width: calc(60 / 1366 * 100vw);
  height: calc(60 / 1366 * 100vw);
}
