* {
  margin: 0;
}

.login-container {
  height: 100vh;
  background-image: url("/static/auth/image/login.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content {
  min-width: 387px;
  min-height: 467px;
  max-height: 467px;
  background-color: rgb(255 255 255 / 25%);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 148px 52px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 43px; /*  */
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
}
.form-group input {
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #1e8697;
  min-width: 300px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 0 13px;
  line-height: 55px;
}

.form-group input::placeholder {
  font-size: 16px;
  color: rgba(0,0,0,0.3);
  line-height: 55px;
  position:relative;
  top:1px;
}

.form-group01{
  margin-bottom: 42px;
}
.form-group02{
  margin-bottom: 86px;
}

::placeholder {
  font-size: 16px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  position: relative;
  bottom: 2px;
}

button[type="submit"] {
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: #d49218;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in-out;
  width: 100%;
}

button[type="submit"]:hover {
  filter: brightness(1.05);
}

button[type="submit"]:active {
  filter: brightness(0.9);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
