* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

button,a:hover{
  cursor: pointer;
}

.dashboard_flex_content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.dashboard_flex_left_area{
  width: 100%;
}
.dashboard_flex_left {
  width: 263px;
}
.dashboard_flex_right {
  /*
  background-color: #f7f7f7;
  */
  border: rgba(30, 134, 151, 0.7);
  /*
  box-shadow: #4cc1e0;
  */
  width: 100%;
  margin-left: 70px;
}