* {
  margin: 0;
}
body,
html {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

button,a:hover,
input:hover{
  cursor: pointer;
}
/*
.dashboard_flex_content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
*/
.dashboard_flex_left_area{
  width: 100%;
}
.dashboard_flex_left {
  width: 263px;
}
.dashboard_flex_right {
  width: 100%;
  margin-left: 368px;
  transition: margin-left 0.35s ease;
}

.dashboard_flex_right.sidebar-closed {
  margin-left: 268px;
}