* {
  margin: 0;
}

.sidebar-content {
  background: linear-gradient(to top, #20c1d3, #4dc1e1);
  width: 263px;
  min-height: 978px;
  max-height: 978px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.profile-info-area .flex-justify-center,
.sidebar-nav-top .flex-justify-center,
.sidebar-nav-bottom .flex-justify-center {
  gap: 12.5px;
}

.profile-info-area {
  border-bottom: 1px solid #ffffff;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
  padding: 23px 0;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.profile-image {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  display: block;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 60px;
}

.profile-company,
.profile-user {
  font-weight: bold;
  margin: 0;
  color: #ffffff;
  line-height: 22px;
  width: 150px;
}

.profile-company {
  font-size: 20px;
  letter-spacing: 0.2px;
}

.profile-user {
  font-size: 16px;
}

.sidebar-nav-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar-nav-top,
.sidebar-nav-bottom {
  width: 100%;
}

.sidebar-nav-top ul,
.sidebar-nav-bottom ul {
  padding: 0;
}

.sidebar-nav-top .flex-justify-center,
.sidebar-nav-bottom .flex-justify-center {
  align-items: center;
}

.sidebar-nav-top img,
.sidebar-nav-bottom img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: block;
}

.sidebar-nav-top a,
.sidebar-nav-bottom a {
  font-weight: bold;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}

.flex-justify-center a {
  line-height: 22px;
  width: 150px;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.white-border {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.graphs-sub {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 15px 0 0 50px;
  position: relative;
}

.graphs-sub::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  background: #ffffff;
  height: calc(100% - 47px);
}

.graphs-sub-extracted,
.graphs-sub-contact {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.graphs-sub-extracted {
  padding: 30px 0 10px 0;
}

.graphs-sub-contact {
  padding: 10px 0 35px 0;
}

.item-line {
  width: 39px;
  height: 1px;
  background-color: #ffffff;
  margin-left: 0px;
}

.graphs-sub a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.login-button-orange {
  width: 215px;
  background-color: #ffffff;
  border-radius: 50px;
  gap: 12.5px;
  padding: 13px 0 13px 39px;
  margin: 35px auto;
}

.login-button-orange img {
  width: 35px;
  height: 29px;
  flex-shrink: 0;
  display: block;
}

.login-button-orange a {
  font-size: 16px;
  font-weight: bold;
  color: #d49218;
  letter-spacing: 0.2px;
  white-space: nowrap;
}
